body {
    font-family: "Raleway", sans-serif;
    color: #747704;
    font-weight: 300;
    background-color: #EDEEEF;
}

p {
    font-size: 20px;
}

.text-muted, .modal-title {
    color: #333333;
    text-decoration: underline;
    font-weight: bold;
}

.text-thin, .text-uppercase {
    color: black;
}

.title-super {
    font-size: 65px;
}

.title-logo {
    margin-top: 20px;
}

.img-responsive {
    cursor: pointer;
}
