body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
    background-color: #EDEEEF;
}
p {
    font-size: 20px;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.description {
    color: red;
}

.header, .work {
    display: flex;
}

.title-super {
    font-size: 65px;
}

.title-logo {
    margin-top: 20px;
}

.img-responsive {
    cursor: pointer;
}
